body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.margin-top-20{
    margin-top:20px;
}

.margin-left-10{
    margin-left:10px;
}

.w90 {
    width:90%;
}

.center {
    margin: 0 auto;
}